<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-8">
			<h2>About CryptoFreedom</h2>
			<p>Hey there, I'm GooseusPrime, the creator of CryptoFreedom.us, for whatever that's worth.  I also make other sites for clients freelance, but those are typically much less inspiring.</p>
			<p>Anyways, not too much to say just yet.  I have a <a href="#/thoughts">blog</a> of sorts for random thoughts and a whole bunch of other stuff to do.  Let me know what you like or don't like by <a href="#/contributing">contributing feedback</a>.</p>
		</div>
		<div class="col-md-4">
			<h2>Contributors</h2>
			<p>Those responsible for making this what it is today.</p>
			<ul>
				<li>[ Your Name Here ]</li>
			</ul>
			<p><a href="#/contributing">Contribute</a></p>
		</div>
	</div>
</div>