<div class="jumbotron">
	<div class="container">
		<h1>Contribute to CryptoFreedom</h1>
		<p>"It is far better for a man to go wrong in freedom than to go right in chains." ~ Thomas H. Huxley</p>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-8">
			<div class="well">
				<h4>What am I looking for?</h4>
				<p>Contributions, connections and feedback.  You can read below and to the right for my financial support scheme, but I'm also looking to connect with other people who are working in this space (especially in the US) and also get constructive feedback on how I can make this tool more useful.</p>
				<p>I'd like to build this out in to a robust and flexible application, but if the demand isn't there, I'd love to get in contact with other people who are building cool things that are in demand.</p>
				
				<h4>Feedback</h4>
				<p>So here's the plan, I have multiple receiving addresses for coins and I'm associating them with features I'm planning to work on.</p>
				<p>You can send feedback without sending coins and I'll read it attentively and be grateful.  However, if you add a transaction id to let me know you put some coin where your feedback is, I'll be able to see which feature you supported and will be even MORE grateful and attentive!</p>
				<p>The features that receive the most coins and the most positive feedback will get priotized ahead of the less popular and I'll add more suggestions and features as they come to me from within or without... I may even try to encapsulate this coin/feature request thing and open source it.</p>

				<form class="form-horizontal" id="feedback">
					<legend class="sr-only">Feedback</legend>
					<div class="form-group">
						<label class="col-sm-2" for="tktMsg">Message</label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="3" for="tktMsg" placeholder="message" ng-model="contribution.msg"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2" for="tktTransId">Transaction ID</label>
						<div class="col-sm-10">
							<input class="form-control" type="text" id="tktTransId" ng-model="contribution.txid" placeholder="transaction id (optional)" />
						</div>
					</div>
					<button ng-click="submit(contribution)" class="btn btn-primary pull-right" style="margin-left: 20px">Send</button>
					<p class="help-block">You can skip the form and add your feedback to the transaction message, I'll read those too but I'll have to manually put them into my tracking system until I integrate the blockchain API, which is on my internal feature list.</p>
				</form>
			</div>
		</div>
		<div class="col-md-4">
			<div class="well">
				<h3>Contributing to New Features!</h3>

				<p>Vote for features with your coins.  When I get enough feedback I'll put up some numbers/graphs to show which have gotten the most support and are currently being worked on.</p>
				<ul class="list-unstyled">
					<li>
						<h4>More APIs</h4>
						<p>Currently I only have the Cryptsy and Coinbase APIs integrated, but I've heard a lot of complaints and different opinions on the other services out there.  Send feedback above to let me know which API I should look at next.  Currently leaning toward CoinEx and BTER.</p>
						<ul class="list-unstyled">
							<li>
								<strong>BTC</strong>
								1MRzdjciwEPsnGv7tXhLd7J1N3KKhbt6GC
							</li>
							<li>
								<strong>LTC</strong>
								LLk2V9V2qn2KfDWrHCpWz8rvUvrpbPh6Yg
							</li>
							<li>
								<strong>XPM</strong>
								Af4bY56udpSagc98DAsjoS8edMkezVfJxs
							</li>
						</ul>
					</li>
					<li>
						<h4>Save and Load Sessions/Preferences</h4>
						<p>So this was going to be a launch feature, but I didn't get it working how I wanted and didn't want to delay anymore.  Since you can easily setup a session with copy/paste of CSV, it might not be that important?  Let me know if this should be a priority or not.</p>
						<ul class="list-unstyled">
							<li>
								<strong>BTC</strong>
								1BSvooZKhZ23ft92EmTQKehFi7j376Ldpi
							</li>
							<li>
								<strong>LTC</strong>
								LfTTPn6brom12yKCy8uYmiUuFqDjpEitBX
							</li>
							<li>
								<strong>XPM</strong>
								AXP4hduHFQ9jnpvm8jmx3fTw6tkNDbWWuA
							</li>
						</ul>
					</li>
					<li>
						<h4>Trading APIs</h4>
						<p>Looking at data is fine and dandy, but if you have to go to another site to trade... how annoying right?  I could spend time hooking up the trading APIs for the exchanges supporting it.</p>
						<ul class="list-unstyled">
							<li>
								<strong>BTC</strong>
								1LwAVb8gtR5BYsEPwJGc5TvyEQevsUFfDF
							</li>
							<li>
								<strong>LTC</strong>
								LMt1cXvDJF8UGe3wSSaSpyWc4FrKEoxfKe
							</li>
							<li>
								<strong>XPM</strong>
								AM8QMxiUpbF4NU3x6328jbX19AqkJq1XP5
							</li>
						</ul>
					</li>
					<li>
						<h4>Charts, Graphs and Analysis Tools</h4>
						<p>Right now I really only have the last trade data and the order books, but I add the depth graph pretty easily or add some other tools.  I was thinking maybe a calculator that just adds all the positions in an order book up to a certain position... let me know what would be most useful, if anything.</p>

						<ul class="list-unstyled">
							<li>
								<strong>BTC</strong>
								1LU5LYosL6aMkSNPAmgRqhVsUtJMxCLE7B
							</li>
							<li>
								<strong>LTC</strong>
								LNNKio4XTVcyRrgR4Q2NKXxxJNxnx2KsCH
							</li>
							<li>
								<strong>XPM</strong>
								AQA8euKS7jLq6gS5dnYx93br3PtcfitEey
							</li>
						</ul>
					</li>
					<li>
						<h4>Price Ticker</h4>
						<p>Was thinking of adding a scroll ing ticker of current coin prices at the top much like other financial information sites.  Could make it fancy with some customizable options for speed/interval/prices.</p>
						<ul class="list-unstyled">
							<li>
								<strong>BTC</strong>
								18oM78N2BQ5YhUBx27aruXgCfXjnPaT9tj
							</li>
							<li>
								<strong>LTC</strong>
								LhVHf8EMNkEGqemiTafS5ASPQQgvRyYSAi
							</li>
							<li>
								<strong>XPM</strong>
								AMkpXbavFVTkHbyxfYg4XrL3bThAKNdyHG
							</li>
						</ul>
					</li>
					<li>
						<h4>Market Watch Notifications</h4>
						<p>I was thinking that it might be useful to be able to setup rules for being notified.  To do it right I would want to make the rules highly customizable (Text XXX-XXX-XXXX when Market Y hits price Z, Email xxxxx@yyy.com if Market Q drops P %, etc).</p>
						<ul class="list-unstyled">
							<li>
								<strong>BTC</strong>
								1KikdYivNgVXFjVjCeo3P39hBmTDwd9Yh5
							</li>
							<li>
								<strong>LTC</strong>
								LbT5LsGRmF9NTYgVPj6WZM3argLH8jEogN
							</li>
							<li>
								<strong>XPM</strong>
								APjDrzSHcTGZiJGB3PpFU3CRnBRjxtAPKf
							</li>
						</ul>
					</li>
					<li>
						<h4>Something Else Entirely</h4>
						<p>Think I'm missing the mark?  Got an idea from left-field?  Put it in the feedback and support your new idea by sending some coin to this address.  Don't forget to add your transaction id, so I know which feedback was yours.</p>
						<ul class="list-unstyled">
							<li>
								<strong>BTC</strong>
								18M1zW3Ag5HeVStBHjQ6DGXeHfdKSoTuCj
							</li>
							<li>
								<strong>LTC</strong>
								LdAs6gsTwmL9Txj7RbMnNgMc2qYJ76Rav7
							</li>
							<li>
								<strong>XPM</strong>
								ATace8tp9p1YewQZGYoFwgAKT15hmL5vj5
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
