<h2>Forgot Password</h2>
<form>
	<legend>User Email</legend>
	<div class="control-group">
		<label for="userEmail">Email</label>
		<div class="controls">
			<input type="text" placeholder="email" id="userEmail" ng-model="userEmail" />
		</div>
	</div>
	<div class="form-actions">
		<button class="btn btn-primary" ng-click="forgotPw(userEmail)">Reset Password</button>
		<a class="btn btn-success" href="#/login">Login</a>
		<a class="btn btn-inverse" href="#/register">Register</a>
	</div>
</form>