<div class="jumbotron">
	<div class="container">
		<h1>CryptoFreedom</h1>
		<p>Prototype goal-based crypto-market monitoring tool with some random proselytizing thrown in for good measure.</p>
		<p><a class="btn btn-primary btn-lg pull-right" role="button" href="#/start">Get Started</a></p>
	</div>
</div>

<div class="col-md-4">
	<div class="well">
		<h3>Accessible Exchange Data</h3>
		<p>You have multiple types of coins on multiple exchanges and need to monitor multiple sets of market data while setting profitable trades.</p>
		<p>What do you think about having site where you can configure the markets/exchanges you want to watch and jump to the exchange you need to capitalize on trading opportunities?</p>
		<p>That's the tool I'm creating here and though I only have Cryptsy and Coinbase integrated, with some <a href="#/contributing">support</a> I'll be sure to add more on demand.</p>
	</div>
</div>
<div class="col-md-4">
	<div class="well">
		<h3>Goal Oriented</h3>
		<p>The point of this site it allow you to trade crypto-currencies with a goal.  The goal is monetary, but can represent anything you are striving for.</p>
		<p>It could be a simple day-trading goal or a new car, I originally made this site with the intention of trading crypto to get rid of student loans.</p>
	</div>
</div>
<div class="col-md-4">
	<div class="well">
		<h3>Freedom of Choice</h3>
		<p>Freedom is about choice and information.  What I'm attempting to create here is a tool to you free access to multiple sources of market information to better inform your free choice of exchanges and markets to trade on.</p>
		<p>Additionally, this site is another flag in the ground and a statement of intent for the crypto movement.  Freedom of choice must extend to a freedom of currency.</p>
		<p>I'm going to try to write <a href="#/thoughts">more thoughts on the subject here</a> as they come to me and I can find the right words for them.</p>
	</div>
</div>