<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-8">
			<h2>Learning about Cryptocurrencies</h2>
			<p>
		</div>
		<div class="col-md-4">
			<h2>Resources</h2>
			<p>Where to go for more information.</p>
			<blockquote>
				<p>"I am ashamed to think how easily we capitulate to badges and names, to large societies and dead institutions."</p>
				<p>"Nothing can bring you peace but yourself. Nothing can bring you peace but the triumph of principles."</p>
				<small>Ralph Waldo Emerson <cite title="Self-Reliance">Self-Reliance</cite></small>
			</blockquote>
		</div>
	</div>
</div>