<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Buy Coins</h3>
		</div>
		<div class="modal-body">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Add to Stash <small>| Cryptsy</small></h3>
				</div>
				<ul class="panel-body list-group">
					<li class="list-group-item list-group-item-header">
						<div class="row-fluid clearfix">
							<div class="col-md-4">
								<strong>Crypto</strong>
							</div>
							<div class="col-md-4">
								<strong>/BTC</strong>
							</div>
							<div class="col-md-4">
								<strong>/USD</strong>
							</div>
						</div>
					</li>
					<li class="list-group-item" ng-show="stash | isEmpty">
						<div class="row-fluid clearfix">
							<div class="col-md-offset-3 col-md-6 text-center">
								<button class="btn btn-link" ng-click="focus('#modal_add_coin_qty')">+ Add Coins</button>
							</div>
						</div>
					</li>
					<li class="list-group-item" ng-repeat="(abbr,coin) in stash">
						<div class="row-fluid clearfix">
							<div class="col-md-4">
								{{ coin.qty }} <a href="#" title="{{ coin.primary_currency_name }}" prevent-default>{{ abbr }}</a>
							</div>
							<div class="col-md-4">
								<small>{{ coin.last_trade }}</small>
							</div>
							<div class="col-md-4">
								{{ (coin.last_trade * coin.qty * state.game.btc_price) | currency }}
							</div>
						</div>
					</li>
					<li class="list-group-item list-group-item-footer">
						<div class="row-fluid">
							<div class="col-md-4">
								<strong>Total:</strong>
							</div>
							<div class="col-md-4">
								<small><strong>{{ trade.stash | total_btc_stash }}</strong></small>
							</div>
							<div class="col-md-4">
								<strong>{{ (trade.stash | total_btc_stash) * state.game.btc_price | currency }}</strong>
							</div>
						</div>
						<div class="row-fluid clearfix" ng-show="state.game.goal">
							<div class="col-md-4 col-md-offset-8">
								<label for="from_goal">
									Cash from Goal
									<input id="from_goal" ng-model="trade.from_goal" type="checkbox" />
								</label>
							</div>
						</div>
					</li>
				</ul>
				<div class="panel-footer" >
					<form ng-show="addcoin_mode!=='csv'" class="row-fluid clearfix">
						<div class="col-md-4">
							<input type="number" class="text-right form-control" id="modal_add_coin_qty" ng-model="order.qty" placeholder="quantity" />
						</div>
						<div class="col-md-5">
							<input class="form-control" id="add_coin_name" type="text" ng-model="order.coin" typeahead="c as c.primary_currency_name for c in xchg.coins | filter:$viewValue | limitTo:8" />
						</div>
						<div class="col-md-3">
							<button class="btn btn-xs btn-success" ng-click="addToTrade(order)">Add Coins</button><br />
							<a href="#" prevent-default ng-click="addcoin_mode='csv'">csv add</a>
						</div>
					</form>
					<form ng-show="addcoin_mode==='csv'" class="row-fluid clearfix">
						<div class="col-md-9">
							<textarea class="form-control" placeholder="one pair per line (ie BTC,1.2)" ng-model="order.csv"></textarea>
						</div>
						<div class="col-md-3">
							<button class="btn btn-xs btn-success" ng-click="addToTrade(order)">Add Coins</button><br />
							<a href="#" prevent-default ng-click="addcoin_mode=null">reg add</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok(trade)">Cash -> Coins</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>