<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Sell Coins</h3>
		</div>
		<div class="modal-body">
			<ul class="list-group">
				<li class="list-group-item list-group-item-header">
					<div class="row">
						<div class="col-md-4">
							<strong>Crypto</strong>
						</div>
						<div class="col-md-4">
							<strong>/BTC</strong>
						</div>
						<div class="col-md-4">
							<strong>/USD</strong>
						</div>
					</div>
				</li>
				<li class="list-group-item" ng-repeat="(abbr,coin) in stash">
					<div class="row">
						<div class="col-md-4">
							<div class="input-group input-group-sm">
								<span class="input-group-addon"><label for="{{ abbr }}">{{ abbr }}</label></span>
								<input type="number" class="form-control" id="{{ abbr }}" ng-model="coin.qty" />
							</div>
						</div>
						<div class="col-md-4">
							<small>{{ coin.last_trade | toggleExponential:state.game.expDec:state.game.toExp }}</small>
						</div>
						<div class="col-md-4">
							{{ (coin.last_trade * coin.qty * state.game.btc_price) | currency }}
						</div>
					</div>
				</li>
				<li class="list-group-item list-group-item-footer">
					<div class="row">
						<div class="col-md-4">
							<strong>Total:</strong>
						</div>
						<div class="col-md-4">
							<small><strong>{{ stash | total_btc_stash | toggleExponential:state.game.expDec:state.game.toExp }}</strong></small>
						</div>
						<div class="col-md-4">
							<strong>{{ (stash | total_btc_stash) * state.game.btc_price | currency }}</strong>
						</div>
					</div>
					<div class="row" ng-show="state.game.goal">
						<div class="col-md-4 text-right">
							<label for="toward_goal">
								Cash Toward Goal
								<input id="toward_goal" ng-model="trade.to_goal" type="checkbox" />
							</label>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok(trade)">Cash Out</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>