<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Exchange Coins</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="row">
					<div class="col-md-4 col-md-offset-1">
						<div class="form-group">
							<label class="col-sm-4" for="from_coin_qty">trade</label>
							<input class="form-control text-right col-sm-8" type="number" id="from_coin_qty" ng-model="trade.from_qty" placeholder="quantity" />
						</div>
						<div class="form-group">
							<label class="col-sm-4" for="from_coin_name">of</label>
							<select class="form-control col-sm-8" type="text" id="from_coin_name" ng-model="trade.from_coin" ng-options="c.primary_currency_name for (abbr,c) in state.game.player.stash">	
								<option value="">from coin</option>
							</select>
						</div>
					</div>
					<div class="col-md-2 text-center">
						<i class="glyphicon glyphicon-transfer" style="position: relative; top: 65px"></i>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							<label class="col-sm-4" for="to_coin_qty">to</label>
							<input class="form-control col-sm-8" style="text-align:right" type="number" id="to_coin_qty" ng-model="trade.to_qty" placeholder="quantity" />
						</div>
						<div class="form-group">
							<label class="col-sm-4" for="to_coin_name">of</label>
							<select class="form-control col-sm-8" type="text" id="to_coin_name" ng-model="trade.to_coin" ng-options="c.primary_currency_name for c in xchg.coins">
								<option value="">to coin</option>
							</select>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok(trade)">Trade</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>