<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h3>Load Session</h3>
		</div>
		<div class="modal-body">
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="saveName">name or email</label>
					<input class="form-control" ng-mode="session.name" placeholder="email or any unique name" type="text" />
				</div>
				<div class="form-group">
					<label class="sr-only" for="savePassphrase">passphrase</label>
					<input class="form-control" ng-mode="session.passphrase" placeholder="passphrase" type="password" />
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok(session)">Load</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</div>
</div>