<h4 class="row" style="margin-bottom: 5px">
	<div class="col-md-2" ng-show="state.game.on">
		<div class="col-md-4">
			<button class="btn btn-xs" ng-class="{ 'btn-info': state.game.toExp, 'btn-primary': !state.game.toExp }" ng-click="state.game.toExp=!state.game.toExp">{{ state.game.toExp | ifelse:'Scientific':'Decimal' }}</button>
		</div>
		<div class="col-md-4" id="number_format">
			<input type="number" class="form-control input-xs" placeholder="decimals" ng-model="state.game.expDec" />
		</div>
		<div class="col-md-4">
			<button class='btn btn-success btn-xs' ng-click="ticker()">Market Ticker</button>
		</div>
	</div>
	<div class="col-md-10"></div>
</h4>
<div class="row-fluid clearfix">
	<div class="col-md-4 easeLeft" ng-class="{ 'offStageLeft': state.game.goal }">
		<div class="well">
			<h3>Goal-based Crypto-Trading Fun</h3>
			<p>The idea is that you want to make good trade decisions in order to reach your goal.  Easy, right?</p>
			<p><small>This actually started as a game where the object was for me to crypto-trade my student debt away... haven't won yet.</small></p>
		</div>
	</div>
	<div class="col-md-4 easeLeft offStageLeft" ng-class="{ 'offStageLeft': !state.game.goal }">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 id="current_stash" class="panel-title">Current Stash <small>| Cryptsy <em ng-show="state.game.xchg.cryptsy.last_update">updated: {{ state.game.xchg.cryptsy.last_update | toDate | date:'yyyy-MM-dd HH:mm' }}</em></small></h3>
			</div>
			<div class="panel-body">
				<ul class="list-inline link-nav">
					<li> <a href="#" prevent-default class="active">Cryptsy</a> </li>
					<li> <a href="#" prevent-default coming-soon>CoinEx</a> </li>
				</ul>
				<ul class="panel-body list-group">
					<li class="list-group-item list-group-item-header">
						<div class="row">
							<div class="col-md-4">
								<strong>Crypto</strong>
							</div>
							<div class="col-md-4">
								<strong>BTC</strong>
							</div>
							<div class="col-md-4">
								<strong>USD</strong>
							</div>
						</div>
					</li>
					<li class="list-group-item" ng-show="state.game.player.stash | isEmpty">
						<div class="row">
							<div class="col-md-offset-3 col-md-6 text-center">
								<button class="btn btn-link" ng-click="addCoins()">+ Add Coins</button>
							</div>
						</div>
					</li>
					<li class="list-group-item" ng-repeat="(abbr,coin) in state.game.player.stash">
						<div class="row">
							<div class="col-md-4">
								{{ coin.qty }} <a href="#" title="{{ coin.primary_currency_name }}" prevent-default>{{ abbr }}</a>
							</div>
							<div class="col-md-4">
								<small>{{ (coin.last_trade * coin.qty) | toggleExponential:state.game.expDec:state.game.toExp }}</small>
							</div>
							<div class="col-md-4">
								{{ (coin.last_trade * coin.qty * state.game.btc_price) | currency }}
							</div>
						</div>
					</li>
					<li class="list-group-item list-group-item-footer" >
						<div class="row">
							<div class="col-md-4">
								<strong>Total:</strong>
							</div>
							<div class="col-md-4">
								<small><strong>{{ (state.game.player.stash | total_btc_stash) | toggleExponential:state.game.expDec:state.game.toExp }}</strong></small>
							</div>
							<div class="col-md-4">
								<strong>{{ ((state.game.player.stash | total_btc_stash) * state.game.btc_price) | currency }}</strong>
							</div>
						</div>
						<div class="row" ng-show="state.game.goal">
							<div class="col-md-4 col-md-offset-8">
								<i><small>{{ (((state.game.player.stash | total_btc_stash) * state.game.btc_price) / state.game.goal) * 100 | toFixed:2 }}% of Goal</small></i>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="panel-footer" >
				<form ng-show="!state.game.on && addcoin_mode!=='csv'" class="row">
					<div class="col-md-4">
						<input type="number" class="text-right form-control" id="add_coin_qty" ng-model="order.qty" placeholder="quantity" />
					</div>
					<div class="col-md-5">
						<input class="form-control" id="add_coin_name" type="text" ng-model="order.coin" select-blur typeahead-editable="false" typeahead="c as c.primary_currency_name for c in xchg.coins | filter:$viewValue | limitTo:8">
					</div>
					<div class="col-md-3">
						<button class="btn btn-xs btn-success" ng-click="addToStash(order)">Add Coin</button><br />
						<a href="#" prevent-default ng-click="addcoin_mode='csv'">add lots</a>
					</div>
				</form>
				<form ng-show="!state.game.on && addcoin_mode==='csv'" class="row">
					<div class="col-md-9">
						<textarea class="form-control" placeholder="symbol,quantity pair per line, ie XPM,100.5" ng-model="order.csv"></textarea>
					</div>
					<div class="col-md-3">
						<button class="btn btn-xs btn-success" ng-click="addToStash(order)">Add Coins</button><br />
						<a href="#" prevent-default ng-click="addcoin_mode=null">add one</a>
					</div>
				</form>
				<div ng-show="state.game.on" class="text-center">
					<div class="btn-group">
						<button id="exchange_button" class="btn btn-primary" ng-click="exchange()"><i class="glyphicon glyphicon-transfer"></i> Exchange</button>
						<button id="coinin_button" class="btn btn-danger" ng-click="coinIn()"><i class="glyphicon glyphicon-bold"></i> Add Coins</button>
						<button id="cashout_button" class="btn btn-success" ng-click="cashOut()"><i class="glyphicon glyphicon-usd"></i> Cash Out</button>
					</div>
				</div>
			</div>
		</div>

		<div class="well" ng-show="state.game.on">
			<h4>Market Watches</h4>
			<p>Add a watch and get notifications sent to you for market events</p>
			<ul>
			</ul>

			<button class="btn btn-warning" coming-soon>Add Watch</button>
			<p class="help-block small">Coming soon, thanks to constructive feedback from <em>elusivepuck</em>!</p>
		</div>
	</div>
	<div class="col-md-8">
		<div ng-show="state.game.on">
			<div class="navbar navbar-default">
				<nav role="navigation">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<span id="your_goal" class="muted navbar-brand">Goal <small>{{ state.game.goal | currency }}{{ state.game.goal_coin }} |</small> Remaining <small>{{ state.game.remaining_goal | currency }}{{ state.game.goal_coin }}</small></span>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li>
								<span class="navbar-text">Coinbase</span>
							</li>
							<li>
								<a href="#" prevent-default><span class="badge">{{ state.game.btc_price }} BTC/USD</span></a>
							</li>
							<li>
								<em class="small navbar-text" ng-show="state.game.xchg.coinbase.last_update">updated: {{ state.game.xchg.coinbase.last_update | toDate | date:'yyyy-MM-dd HH:mm' }}</em>
							</li>
						</ul>

						<!-- <button class="btn btn-danger navbar-btn navbar-right" ng-click="pump()">Data Pump</button> -->
					</div>
				</nav>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="{{ ((state.game.goal-state.game.remaining_goal)/state.game.goal)*100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ ((state.game.goal-state.game.remaining_goal)/state.game.goal)*100 }}%;">
					<span class="sr-only">{{ ((state.game.goal-state.game.remaining_goal)/state.game.goal)*100 }}% Complete</span>
				</div>
			</div>
			<h2 ng-show="state.game.player.stash | isEmpty" class="text-center">Add some coins to see some market data</h2>
			<tabset>
				<tab ng-repeat="(abbr,coin) in state.game.player.stash">
					<tab-heading class="text-center tab-heading">
						{{ coin.primary_currency_name }}
					</tab-heading>
					<h4>{{ coin.label }} <small><strong>last</strong> {{ coin.last_trade | toggleExponential:state.game.expDec:state.game.toExp }} | <strong>hi/lo</strong> {{ coin.high_trade | toggleExponential:state.game.expDec:state.game.toExp }} / {{ coin.low_trade | toggleExponential:state.game.expDec:state.game.toExp }}</h4>

					<div class="row">
						<div class="col-md-6">
							<h5>Buy Orders <small><a href="#" prevent-default class="active">Table</a> | <a coming-soon prevent-default href="#">Depth</a></small></h5>
							<ul class="list-group">
								<li class="list-group-item list-group-item-header">
									<div class="row">
										<div class="col-md-4">
											<a href="#" prevent-default ng-class="{ 'text-muted': coin.buysort==='price' }" ng-click="coin.buysort='price'">Price</a>
											<span class="badge pointer" ng-show="coin.buysort==='price'" ng-click="coin.buyreverse=!coin.buyreverse"><span class="glyphicon" ng-class="{ 'glyphicon-sort-by-attributes': !coin.buyreverse, 'glyphicon-sort-by-attributes-alt': coin.buyreverse  }"></span></span>
										</div>
										<div class="col-md-4">
											<a href="#" prevent-default ng-class="{ 'text-muted': coin.buysort==='quantity' }" ng-click="coin.buysort='quantity'">Quantity</a>
											<span class="badge pointer" ng-show="coin.buysort==='quantity'" ng-click="coin.buyreverse=!coin.buyreverse"><span class="glyphicon" ng-class="{ 'glyphicon-sort-by-attributes': !coin.buyreverse, 'glyphicon-sort-by-attributes-alt': coin.buyreverse  }"></span></span>
										</div>
										<div class="col-md-4">
											<a href="#" prevent-default ng-class="{ 'text-muted': coin.buysort==='total' }" ng-click="coin.buysort='total'">Total</a>
											<span class="badge pointer" ng-show="coin.buysort==='total'" ng-click="coin.buyreverse=!coin.buyreverse"><span class="glyphicon" ng-class="{ 'glyphicon-sort-by-attributes': !coin.buyreverse, 'glyphicon-sort-by-attributes-alt': coin.buyreverse  }"></span></span>
										</div>
									</div>
								</li>
								<li class="list-group-item" ng-repeat="buy in coin.buyorders | orderBy:coin.buysort:coin.buyreverse">
									<div class="row">
										<div class="col-md-4">
											{{ buy.price | toggleExponential:state.game.expDec:state.game.toExp }}
										</div>
										<div class="col-md-4">
											{{ buy.quantity | toggleExponential:state.game.expDec:state.game.toExp }}
										</div>
										<div class="col-md-4">
											{{ buy.total | toggleExponential:state.game.expDec:state.game.toExp }}
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<h5>Sell Orders <small><a href="#" prevent-default class="active">Table</a> | <a coming-soon prevent-default href="#">Depth</a></small></h5>
							<ul class="list-group">
								<li class="list-group-item list-group-item-header">
									<div class="row">
										<div class="col-md-4">
											<a href="#" prevent-default ng-class="{ 'text-muted': coin.sellsort==='price' }" ng-click="coin.sellsort='price'">Price</a>
											<span class="badge pointer" ng-show="coin.sellsort==='price'" ng-click="coin.sellreverse=!coin.sellreverse"><span class="glyphicon" ng-class="{ 'glyphicon-sort-by-attributes': !coin.sellreverse, 'glyphicon-sort-by-attributes-alt': coin.sellreverse  }"></span></span>
										</div>
										<div class="col-md-4">
											<a href="#" prevent-default ng-class="{ 'text-muted': coin.sellsort==='quantity' }" ng-click="coin.sellsort='quantity'">Quantity</a>
											<span class="badge pointer" ng-show="coin.sellsort==='quantity'" ng-click="coin.sellreverse=!coin.sellreverse"><span class="glyphicon" ng-class="{ 'glyphicon-sort-by-attributes': !coin.sellreverse, 'glyphicon-sort-by-attributes-alt': coin.sellreverse  }"></span></span>
										</div>
										<div class="col-md-4">
											<a href="#" prevent-default ng-class="{ 'text-muted': coin.sellsort==='total' }" ng-click="coin.sellsort='total'">Total</a>
											<span class="badge pointer" ng-show="coin.sellsort==='total'" ng-click="coin.sellreverse=!coin.sellreverse"><span class="glyphicon" ng-class="{ 'glyphicon-sort-by-attributes': !coin.sellreverse, 'glyphicon-sort-by-attributes-alt': coin.sellreverse  }"></span></span>
										</div>
									</div>
								</li>
								<li class="list-group-item" ng-repeat="sell in coin.sellorders | orderBy:coin.sellsort:coin.sellreverse">
									<div class="row">
										<div class="col-md-4">
											{{ sell.price | toggleExponential:state.game.expDec:state.game.toExp }}
										</div>
										<div class="col-md-4">
											{{ sell.quantity | toggleExponential:state.game.expDec:state.game.toExp }}
										</div>
										<div class="col-md-4">
											{{ sell.total | toggleExponential:state.game.expDec:state.game.toExp }}
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</tab>
			</tabset>
		</div>
		<div class="jumbotron" ng-show="!state.game.goal && !state.game.on">
			<h2>What is your Trading Goal?</h2>
			<p>Pick a target and track your progress toward (or away from) your Trading Goal.</p>
			<div class="row">
				<div class="col-md-4">
					<input class="form-control" type="number" ng-model="start.goal" placeholder="Goal Amount" style="text-align:right" />
				</div>
				<div class="col-md-4">
					<select class="form-control" readonly="readonly" ng-model="start.goal_coin">
						<option value="">of currency</option>
						<option value="USD">USD</option>
						<option value="BTC">BTC</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-md-offset-9">
					<button class="btn btn-danger" ng-click="setGoal(start,player)">Next Step</button>
				</div>
			</div>
		</div>
		<div class="jumbotron" ng-show="!state.game.on && state.game.goal">
			<h2>Add Coins to your Stash</h2>
			<p>You can add them one at a time, or click <a href="#" prevent-default ng-click="addcoin_mode='csv'">add lots</a> to add a bunch via comma-separated list.</p>
			<p><small>So far I'm only using the Cryptsy API with CoinEx tentatively up next.  <a href"#/contributing">Contribute</a> and let me know which exchanges I should add next.</small></p>

			<button class="btn btn-danger" ng-click="start()">Start</button>
		</div>
	</div>
</div>
