<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-md-8">
			<h2>CryptoFreedom Thoughts <small>a proto-blog of sorts</small></h2>
			<p>Not too sure what I'm doing here, I may continue writing or not.  I'm going to make contribution addresses for each blog post too, so you can let me know with coin (or lack thereof) if you think I should keep writing or stick to my day job.</p>
			<div class="well post">
				<h3>Initial Thoughts <small>12/10/2013</small></h3>
				<p>I made this site to get involved with the crypto-currency movement.  I recently started mining (Primecoin, FTW!) and learning more about the protocol and potential of digital coins.  The more I learn, the more I believe that the mass adoption of this technology is what will help catapult humanity to the next level of civilization.</p>
				<p>Grandiose, I know, but thinking about it, the Internet and mobile technology has catapulted us to a new level in the last 15 years and cryptocurency is simply an extension the same concepts.  We want to be connected, and we can't to able to interact as quickly and with as little friction as possible, it is inevitable that our currency follow the same path.</p>
				<p>Government and financial institutions may seek to ruin the altcoin movement through subversion or direct assault if they can not find a way to bend it to their will and maintain the status quo.</p>
				<p>This will be the critical time for the altcoin movement, and it would behoove us to have achieved critical mass amongst the general population by then.  The easiest way I can think to do that is to give bitcoins to people who don't have them, or understand them, accompanied by a comprehensive list of safe things they can do with them.</p>
				<p>Maybe I'll make/find a letter template of some sort that can people can send out with their coin gifts?</p>
				<p>Note to Self: Add comments for posts.</p>
				<h6>CryptoFreedom</h6>
				<ul class="list-unstyled small">
					<li><strong>BTC</strong> 17S91gYjQqT7hggYM2rigUsgvdZtMdL5xx</li>
					<li><strong>LTC</strong> LYNrm55TYqqw26WXiRpdQhNd9ctykpvA2t</li>
					<li><strong>XPM</strong> AYRnMemMqtMfxyRYMzgukLY7aLGryWjoiE</li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<h2>Quotes</h2>
			<p>Famous people saying smart things I like.</p>
			<blockquote>
				<p>"I am ashamed to think how easily we capitulate to badges and names, to large societies and dead institutions."</p>
				<p>"Nothing can bring you peace but yourself. Nothing can bring you peace but the triumph of principles."</p>
				<small>Ralph Waldo Emerson, <cite title="Self-Reliance">Self-Reliance</cite></small>
			</blockquote>
		</div>
	</div>
</div>