<form class="well">
	<legend>Send Invite Emails</legend>
	<div class="control-group">
		<label for="inviteEmail">Emails</label>
		<div class="controls">
			<input type="email" placeholder="email" id="inviteEmail" ng-model="inviteEmail" />
		</div>
	</div>
	<button class="btn btn-primary" ng-click="invite(inviteEmail)">Invite</button>
</form>