<h2 ng-hide="user">Loading...</h2>
<form ng-show="user">
	<legend>Reset Password</legend>
	<div class="control-group">
		<label for="userPw">Current Password</label>
		<div class="controls">
			<input type="password" id="userPw" placeholder="current password" ng-model="auth.current" />
		</div>
	</div>
	<div class="control-group">
		<label for="userPwConfirm">New Password</label>
		<div class="controls">
			<input type="password" id="userPwConfirm" placeholder="new password" ng-model="auth.password" />
			<input type="password" id="userPwConfirm" placeholder="repeat password" ng-model="auth._password" />
		</div>
	</div>
	<div class="form-actions">
		<button class="btn btn-primary" ng-click="resetPw(auth)">Reset Password</button>
	</div>
</form>