<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  

		<title>Firebase Custom Auth Boilerplate</title>

		<!-- vendor CSS -->
		<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
		<!-- font awesome from BootstrapCDN -->
		<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />

		<!-- vendor JavaScript -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.2.1/lodash.min.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
		<script type="text/javascript" src="//code.angularjs.org/1.1.5/angular-cookies.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.6.0/ui-bootstrap-tpls.min.js"></script>
		
		<script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
		<script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
		<script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.js"></script>
		
		<!-- application Javascript -->
		<script type="text/javascript" src="/app/filters/ninja-filters.js"></script>
		<script type="text/javascript" src="/app/services/ninja-services.js"></script>
		<script type="text/javascript" src="/app/directives/ninja-directives.js"></script>
		<script type="text/javascript" src="/app/client.js"></script>
		<script type="text/javascript">
			angular.element(document).bind('DOMContentLoaded', function() {
				angular.bootstrap(this, [ 'njaAuthBoilerplate' ]);
			});
		</script>
	</head>
	<body ng-controller="AppCtrl">
		
		<div class="header">
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert(alert.id)">{{alert.msg}}</alert>
		</div>

		<div class="header">
			<div ng-show="user | isLoading">User loading data</div>
			<div ng-show="user | isLoggedIn">
				{{ user.name }} is logged in | 
				<span ng-hide="user.verified">Verify Email!</span><span ng-show="user.verified">Verified</span> |
				<a href="#/profile">Profile</a> | 
				<a href="#/invite">Invite</a> | 
				<a href="#" ng-click="logout()">Logout</a>
			</div>
			<div ng-show="user | isLoggedOut">User is logged out</div>
		</div>
		
		<h1><a href="/auth.html">Firebase Custom Auth Testing</a></h1>
		
		<div class="container" ng-view></div>
	</body>
</html>
