<!DOCTYPE html>
<html ng-controller="AppCtrl">
	<head>
		<title>CryptoFreedom</title>

		<link rel="shortcut icon" href="/favicon.ico" />

		<!-- font awesome from BootstrapCDN -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
		<link href="/vendor/bootstrap-tour/bootstrap-tour.css" rel="stylesheet">

		<!-- Google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

		<style>
			/* Sticky footer styles
			-------------------------------------------------- */
			html,
			body {
				height: 100%;
				/* The html and body elements cannot have any padding or margin. */
			}

			/* Wrapper for page content to push down footer */
			#wrap {
				min-height: 100%;
				height: auto;
				/* Negative indent footer by its height */
				margin: 0 auto -25px;
				/* Pad bottom by footer height */
				padding: 0 0 25px;
			}

			/* Set the fixed height of the footer here */
			#footer {
				height: 20px;
				padding-top: 5px;
				background-color: #f5f5f5;
				border-top: 1px solid #e3e3e3;
			}



			.pointer { cursor: pointer; }
			.link-nav .active { text-decoration: underline; }
			.modal {
				display: block;
				height: 0;
				overflow: visible;
			}

			.offStageLeft {
				position:absolute;
				left: -999px;
			}

			.easeWidth {
				-webkit-transition: width 1s ease-in-out;
				-moz-transition: width 1s ease-in-out;
				-o-transition: width 1s ease-in-out;
				transition: width 1s ease-in-out;
			}
			.easeLeft {
				-webkit-transition: left 1s ease-in-out;
				-moz-transition: left 1s ease-in-out;
				-o-transition: left 1s ease-in-out;
				transition: left 1s ease-in-out;
			}
			.navbar-lowmargin { margin-bottom: 5px; }
			.input-xs { 
				font-size: 12px;
				height: 23px;
				padding: 0 6px;
			}
			.input-group-sm .input-group-addon {
				padding-bottom: 0;
			}

			.alert {
				position: fixed;
				right: 10px;
				top: 5px;
				width: 250px;
				z-index: 9999999;
			}

			.progress {
				position:relative;
				top: -15px;
				margin-bottom: 0;
			}
		</style>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body class="ng-cloak">
		<div id="wrap">
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert(alert.id)">{{alert.msg}}</alert>
			<header class="header navbar navbar-default navbar-lowmargin">
				<nav role="navigation">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<a class="muted navbar-brand h3" href="#/home">CryptoFreedom <small>| Free To Coin</small></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<a href="#/start">
									Get Started
									<span class="glyphicon glyphicon-play"></span>
								</a>
							</li>
							<li>
								<a href="#/thoughts">
									Thoughts
									<span class="glyphicon glyphicon-pencil"></span>
								</a>
							</li>
							<li>
								<a href="#/contributing">
									Contributions
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Contact <span class="glyphicon glyphicon-comment"></span>
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="http://www.reddit.com/u/cryptofreedom/" target="_blank">Reddit</a></li>
									<li><a href="http://twitter.com/cryptofreedom" target="_blank">Twitter</a></li>
									<li class="divider"></li>
									<li><a href="#/about">About CryptoFreedom</a></li>
								</ul>
							</li>
						</ul>

						<form class="navbar-form navbar-right">
							<button id="tour_button" class="btn btn-success" prevent-default ng-show="state.game.loading_complete&&state.game.on" ng-click="tour()">Take a Tour</button>
							<!--<button class="btn btn-info" ng-show="state.game.loading_complete&&state.game.on" ng-click="save()">Save Session</button>
							<button class="btn btn-warning" ng-hide="state.game.loading_complete&&state.game.on" ng-click="load()">Load Session</button>-->
						</form>
					</div>
				</nav>
			</header>

			<div ng-view></div>
		</div>

		<footer id="footer" class="footer">
			<div class="col-md-3 small">
				&copy;2013-2014 <a target="_blank" href="http://twitter.com/cryptofreedom">@cryptofreedom |</a><a target="_blank" href="http://reddit.com/u/cryptofreedom">| /u/cryptofreedom</a>
			</div>
			<div class="col-md-6 small text-center">
				<a href="#/contributing">contributions</a> are greatly appreciated... and kinda necessary for continued development.
			</div>
			<div class="col-md-3 small text-right">
				Powered by <a href="http://getbootstrap.com/">bootstrap</a>, <a href="http://angularjs.org/">angularjs</a> and <a href="https://www.firebase.com/">firebase</a>
			</div>
		</footer>

		<!-- vendor JavaScript -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
		<script type="text/javascript" src="//code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
		<script type="text/javascript" src="//code.angularjs.org/1.1.5/angular-cookies.js"></script>
		
		<script type="text/javascript" src="https://cdn.firebase.com/v0/firebase.js"></script>
		<script type="text/javascript" src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>
		<script type="text/javascript" src="https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.js"></script>

		<script type="text/javascript" src="/vendor/angular-lodash/angular-lodash.js"></script>
		<script type="text/javascript" src="/vendor/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
		<script type="text/javascript" src="/vendor/bootstrap-tour/bootstrap-tour.js"></script>

		<!-- application Javascript -->
		<script type="text/javascript" src="/app/filters/ninja-filters.js"></script>
		<script type="text/javascript" src="/app/services/ninja-services.js"></script>
		<script type="text/javascript" src="/app/directives/ninja-directives.js"></script>
		<script type="text/javascript" src="/app/client.js"></script>

		<script type="text/javascript">
			angular.element(document).ready(function() {
				angular.bootstrap(this, [ 'cryptoFreedom' ]);
			});
		</script>
	</body>
</html>
